body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}

.color-1{
    background-color: #1F2937;
    padding: 5px 50px;
}

.header{
    display: flex;
    flex-wrap: wrap;
    margin: 15px 30px;
    justify-content: space-between; 
}

.header ul{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    justify-content: center;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    padding: 10px;
}

.ulshrink0{
    flex-shrink: 0;
}

.ulshrink0:hover{
    background-color: #E5E7EB;
    color: black;
    border-radius: 5%;
    transition: 0.3s;
}

.header h3{
    font-size: 24px;
    color: #f9faf8;
}

.container-1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 1% 5%;
    gap: 40px;
    margin-bottom: 40px;
    padding: 20px;
}

.container-1 h2{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0px;
    margin-bottom: 15px;
}

.container-1 p{
    margin-top: 0px;
    font-size: 18px;
    color: #E5E7EB;
}

.info-left{
    width: 450px;
    height: auto;
    margin-right: 20px;
}

.info-right{
    max-width: 400px;
}

.info-right img{
    width: 100%;
    height: auto;
}

.button{
    background-color: #3882f6;
    color: #f9faf8;
    padding: 5px 16px;
    border-radius: 15%;
    border-color: #1F2937;
    font-weight: bold;
}

.information h3{
    margin-top: 50px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: #1F2937;
}

.container-2{
    display: flex;
    flex-wrap: wrap;
    padding: 75px 150px;
    justify-content: center;
    align-items: center;
    gap: 52px;
    text-align: center;
    flex-wrap: wrap;
}

.container-2 img{
    width: 200px;
    height: 150px;
    border-radius: 10%;
}

.card{
    max-width: 250px;
    justify-content: center;
}

.container-3{
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    padding: 50px 30px;
}

.quote{
    max-width: 800px;
    height: auto;
}

.container-3 p{
    font-size: 32px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    width: 100%;
    justify-content: center;
    margin: 0px;
}

.quote p1{
    display: flex;
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
    justify-content: right;
    margin-right: 35PX;
}

.container-4{
    display: flex;
    justify-content: center;
    padding: 30px 0px;
}

.container-4 p, h4{
    color: whitesmoke;
    margin: 7px 0px;

}

.box{
    display: flex;
    justify-content: center;
    max-width: 800px;
    height: auto;
}
.box-action{
    display: flex;
    padding: 40px 50px;
    background-color: #3882f6;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.box-action .button{
    background-color: #3882f6;
    color: #f9faf8;
    padding: 5px 16px;
    border-color: white;
    font-weight: bold;
    margin-left: 20px;
}

.footer{
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    color: white;
}