body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    
}

.header, .footer, .container-1{
    display: flex;
    background-color: #1F2937;
    flex-wrap: wrap;
    padding: 10px 150px;
    
}

.container-1, .container-2, .container-3, .container-4{
    display: flex;
    flex-wrap: wrap;
    padding: 75px 150px;
}

.header{
    align-items: center;
    justify-content: space-between;   
}

.header ul{
    flex-wrap: wrap;
    flex-shrink: 0;
}

.header h3{
    font-size: 24px;
    color: #f9faf8;
    

}

.container-1 {
    align-items: center;
    justify-content: space-between;
    
}

.container-1 h2{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0px;
    margin-bottom: 15px;
}


.container-1 p{
    margin-top: 0px;
    font-size: 18px;
    color: #E5E7EB;
}


a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    padding: 10px;
}

.info-left{
    width: 450px;
    height: auto;
    margin-right: 20px;
}

.info-right img{
    width: 400px;
    height: auto;
}

.button{
    background-color: #3882f6;
    color: #f9faf8;
    padding: 5px 16px;
    border-radius: 15%;
    border-color: #1F2937;
    font-weight: bold;
}

.information h3{
    margin-top: 50px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: #1F2937;
}

.container-2{
    justify-content: center;
    align-items: center;
    gap: 52px;
    text-align: center;
    flex-wrap: wrap;
}

.container-2 img{
    width: 200px;
    height: 150px;
    border-radius: 10%;
}

.card{
    max-width: 250px;
    justify-content: center;
}

.container-3{
    background-color: #e5e7eb;
    flex-direction: column;
 
}

.quote{
    padding: 0px 250px;
    
}

.container-3 p{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.container-3 p1{
    display: flex;
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
    justify-content: right;
    margin-right: 35PX;
}

.container-4{
    justify-content: center;
}

.container-4 p, h4{
    color: whitesmoke;
    margin: 7px 0px;
}


.box-action{
    display: flex;
    padding: 40px 100px;
    background-color: #3882f6;
    justify-content: space-between;
    align-items: center;
    width: 800px;
}

.box-action .button{

    background-color: #3882f6;
    color: #f9faf8;
    padding: 5px 16px;
    border-color: white;
    font-weight: bold;
}

.footer{
    justify-content: center;
    color: white;
}